#section-feature .box .icon_box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 110px;
}
#section-feature .box {
	background: #ffffff;
	text-align: center;
	-webkit-box-shadow: 0px 0px 22.5px 2.5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 22.5px 2.5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 22.5px 2.5px rgba(0, 0, 0, 0.1);
	height: 200px;
	margin-bottom: 50px;
}


.main_content .box {
	position: relative;
	margin-bottom: 80px;
	transition: 0.3s;
}
#section-feature {
	margin-bottom: 50px;
	margin-top: 50px;
}
 #start-id .title .txt1 , #start-id .title p {
	margin-bottom: 65px;
	font-weight: 800px;
	text-transform: uppercase;

}
.uppercase{
	text-transform: uppercase;
}
#section-feature .box .text_box {
	padding: 0 10px 20px 10px;
}
#section-feature .box .text_box .title_features {
	font-size: 16px;
	font-weight: 900;
	color: #101010;
	text-transform: uppercase;
	margin-bottom: 3px;
}

#section-feature .box .text_box .sub_title {
	font-size: 14px;
	font-weight: 400;
	color: #909090;
	padding: 0 5px;
}


.box:hover img{
	opacity: .85;
	padding-bottom: 15px;
	transition: translateX(-10px);

}