.newsletter-section {
    background-color: #000;
    margin-top: 50px;
    color: #ffffff;
}
.pb-50 {
    padding-bottom: 50px !important;
}
.pt-50 {
    padding-top: 50px !important;
}
.newsletter-section .newsletter-title h1 {
    color: #ffffff;
    font-size: 31px;
    line-height: 42px;
    margin-bottom: 0;
}
.newsletter-section span {
    vertical-align: middle;
    border-style: none;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 200 px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .newsletter-section .newsletter-title h1 {
        font-size: 25px;
        line-height: 30px;
    }
}
.subscription-form-wrapper p {
    margin-bottom: 0;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
}
@media only screen and (max-width: 479px) {
    .subscription-form-wrapper p {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}