 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

     #special-footer h3 {
         font-size: 17px;
         font-weight: 700;
     }

     #special-footer .footer-top p {
         font-size: 12px;
         font-weight: 200;
     }

     #special-footer .footer-top {
         padding: 100px 0 80px 0;

     }

     #special-footer button:hover {
         background: #000;
         color: #fff;
     }

     #section-feature p {

         font-size: 14px;
     }

     #tech .title p {
         margin-bottom: 0px;
         font-weight: 100px;
         font-size: 12px;


     }

     #tech .support {
         padding: 20px;
     }

     #tech button {
         margin: 10px;
     }

     #faq .card-header a {
         font-size: 14px;
     }

     #faq .card-body {
         font-size: 13px;

     }

     #faq .section-header {
         font-size: 15px;
     }

     #faq a {
         font-size: 12px;
     }

     #testimonial .testimonial-heading {
         font-size: 20px;
     }

     #testimonial .client-info h5 {
         font-size: 12px;
     }

     #testimonial .testimonial-single p {
         font-size: 12px;

     }

     #testimonial .item {
         font-size: 12px;
         width: 300px;
         font-weight: 400px;
     }

     #section-feature .title p {
         font-size: 14px;
         margin-bottom: 20px;
     }

     #section-feature .title h3 {
         font-size: 14px;
         text-transform: uppercase;
         margin-bottom: 10px;
     }

     #newsletter-section h1,
     p,
     h2,
     h3 {
         font-size: 16px;
     }

     #newsletter-section #small-20 {
         font-size: 12px;
     }

     #newsletter-section button {
         margin-top: 5px;

     }

     #subscription-form from {
         padding-top: 40px;
     }

     .slider-btn {
         width: 80px;
         height: 40px;
         font-size: 11px;
         border-radius: 10%;
     }

     .slider-btn:hover {
         width: 80px;
         height: 40px;
         color: #fff;
         background: #000;
         font-size: 11px;
         border-radius: 10%;
     }

     .social-media-section h2,
     .contact-summery h2 {
         font-size: 14px;
     }

     #xxxxx .swiper-button-next {

         right: -100%;


     }

     #xxxxx .swiper-button-prev {

         left: -100%;


     }
     #xxxxx .slider-box{
        margin: 50px;
        
     }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
     #special-footer h3 {
         font-size: 17px;
         font-weight: 700;
     }

     #special-footer .footer-top p {
         font-size: 12px;
         font-weight: 200;
     }

     #special-footer .footer-top {
         padding: 100px 0 80px 0;

     }

     #special-footer button:hover {
         background: #000;
         color: #fff;
     }

     #section-feature p {

         font-size: 14px;
     }

     #tech .title p {
         margin-bottom: 0px;
         font-weight: 100px;
         font-size: 12px;


     }

     #tech .support {
         padding: 20px;
     }

     #tech button {
         margin: 10px;
     }

     #faq .card-header a {
         font-size: 14px;
     }

     #faq .card-body {
         font-size: 13px;

     }

     #faq .section-header {
         font-size: 15px;
     }

     #faq a {
         font-size: 12px;
     }

     #testimonial .testimonial-heading {
         font-size: 20px;
     }

     #testimonial .client-info h5 {
         font-size: 12px;
     }

     #testimonial .testimonial-single p {
         font-size: 12px;

     }

     #testimonial .item {
         font-size: 12px;
         width: 300px;
         font-weight: 400px;
     }

     #section-feature .title p {
         font-size: 14px;
         margin-bottom: 20px;
     }

     #section-feature .title h3 {
         font-size: 14px;
         text-transform: uppercase;
         margin-bottom: 10px;
     }

     #newsletter-section h1,
     p,
     h2,
     h3 {
         font-size: 16px;
     }

     #newsletter-section #small-20 {
         font-size: 12px;
     }

     #newsletter-section button {
         margin-top: 5px;

     }

     #subscription-form from {
         padding-top: 40px;
     }

     .slider-btn {
         width: 80px;
         height: 40px;
         font-size: 11px;
         border-radius: 10%;
     }

     .social-media-section h2,
     .contact-summery h2 {
         font-size: 14px;
     }

     #xxxxx .swiper-button-next {

         right: -100%;


     }

     #xxxxx .swiper-button-prev {

         left: -100%;


     }
     #xxxxx .slider-box{
        margin: 50px;
        
     }


 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
     #special-footer h3 {
         font-size: 22px;
         font-weight: 700;
     }

     #special-footer .footer-top p {
         font-size: 16px;
         font-weight: 200;
     }

     #special-footer .footer-top {
         padding: 150px 0 80px 0;

     }

     #special-footer button:hover {
         background: #000;
         color: #fff;
     }

     #section-feature p {

         font-size: 17px;
     }

     #tech .title p {
         margin-bottom: 0px;
         font-weight: 100px;
         font-size: 17px;


     }

     #tech .support {
         padding: 20px;
     }

     #tech button {
         margin: 10px;
     }

     #faq .card-header a {
         font-size: 17px;
     }

     #faq .card-body {
         font-size: 16px;

     }

     #faq .section-header {
         font-size: 15px;
     }

     #faq a {
         font-size: 12px;
     }

     #testimonial .testimonial-heading {
         font-size: 26px;
     }

     #testimonial .client-info h5 {
         font-size: 16px;
     }

     #testimonial .testimonial-single p {
         font-size: 16px;

     }

     #testimonial .item {
         font-size: 16px;
         width: 300px;
         font-weight: 400px;
     }

     #section-feature .title p {
         font-size: 18px;
         margin-bottom: 20px;
     }

     #section-feature .title h3 {
         font-size: 16px;
         text-transform: uppercase;
         margin-bottom: 10px;
     }

     #newsletter-section h1,
     p,
     h2,
     h3 {
         font-size: 20px;
     }

     #newsletter-section #small-20 {
         font-size: 12px;
     }

     #newsletter-section button {
         margin-top: 5px;

     }

     #subscription-form from {
         padding-top: 60px;
     }

     .slider-btn {
         width: 80px;
         height: 40px;
         font-size: 11px;
         border-radius: 10%;
     }

     .social-media-section h2,
     .contact-summery h2 {
         font-size: 14px;
     }

     #xxxxx .swiper-button-next {

         right: -100%;


     }

     #xxxxx .swiper-button-prev {

         left: -100%;


     }
     #xxxxx .slider-box{
        margin: 50px;
        
     }


 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
     #special-footer h3 {
         font-size: 36px;
         font-weight: 700;
     }

     #special-footer .footer-top p {
         font-size: 18px;
         font-weight: 200;
     }

     #special-footer .footer-top {
         padding: 180px 0 90px 0;

     }

     #special-footer button:hover {
         background: #000;
         color: #fff;
     }

     #section-feature p {

         font-size: 20px;
     }

     #tech .title p {
         margin-bottom: 0px;
         font-weight: 100px;
         font-size: 17px;


     }

     #tech .support {
         padding: 50px;
     }

     #tech button {
         margin: 10px;
     }

     #faq .card-header a {
         font-size: 17px;
     }

     #faq .card-body {
         font-size: 16px;

     }

     #faq .section-header {
         font-size: 15px;
     }

     #faq a {
         font-size: 12px;
     }

     #testimonial .testimonial-heading {
         font-size: 26px;
     }

     #testimonial .client-info h5 {
         font-size: 16px;
     }

     #testimonial .testimonial-single p {
         font-size: 14px;

     }

     #testimonial .item {
         font-size: 14px;
         width: 300px;
         font-weight: 400px;
     }

     #section-feature .title p {
         font-size: 18px;
         margin-bottom: 20px;
     }

     #section-feature .title h3 {
         font-size: 16px;
         text-transform: uppercase;
         margin-bottom: 10px;
     }

     #newsletter-section h1
     {
         font-size: 36px;
     }

     #newsletter-section #small-20 {
         font-size: 18px;
     }

     #newsletter-section button {
         margin-top: 5px;

     }

     #subscription-form from {
         padding-top: 60px;
     }

     .slider-btn {
         width: 150px;
         height: 50px;
         font-size: 11px;
         border-radius: 10%;
     }

     .social-media-section h2,
     .contact-summery h2 {
         font-size: 26px;
     }

     #xxxxx .swiper-button-next {

         right: -100%;


     }

     #xxxxx .swiper-button-prev {

         left: -100%;


     }
     #xxxxx .slider-box{
        margin: 50px;
        
     }
 }