
.resip_section .stars{
  color:white;
}


nav {
  min-height: 40px;
  background: #212020;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 998;
 
}



.right_header_info {
  width: 100%;
  float: left;
  padding: 20px 0 0;
}

.right_header_info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}

.right_header_info ul li {
  display: inline;
  font-size: 16px;
  margin-left: 45px;
  color: #eaeaea;
  font-weight: 400;
  float: left;
}

.right_header_info ul li a {
  color: #eaeaea;
  font-weight: 300;
}

.button_user a {
  float: left;
  min-width: 75px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  position: relative;
  top: -3px;
  padding: 0 15px;
  margin: 0 2px;
}

.button_user a {
  float: left;
  min-width: 75px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  position: relative;
  top: -7px;
  padding: 0 15px;
  margin: 0 2px;
  border: solid #eaeaea 1px;
}

.button_user a:hover,
.button_user a:focus,
.button_user a.active {
  background: #e3d105;
  color: #fff;
  border-color: #e3d105;
  color: #222;
}

.resip_section {
  margin-top: 0;
  padding: 60px 0px 50px 0px;
  border-top: solid rgba(255, 255, 255, 0.1) 1px;
  box-shadow: inset 0 10px 30px -16px #000;
}

.product_blog_cont {
  text-align: center;
  padding-top: 20px;
}

.product_blog_cont h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.product_blog_cont h4 {
  color: #fff;
  font-size: 18px;
}

.bgbg {
  font-size: 33px !important;
}


.menu-box {
  margin-right: 30px;
  margin-left: 40px;

  width: 370px;
  transform: translate3d(0px, 0px, 0px);
}

.slider-box {
  height: 350px;
  width: 250px;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(187, 187, 1);
}

.slider-box a {
  text-decoration: none;
  text-align: center;
}

.ourheading h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 40px;
  color: #fff;
  padding-bottom: 38px;
}

img-small {
  width: 100px;
}

#review {
  background-color: #f1f1f1;
}
