footer {
  background-color: #ffffff;
}

/*----------  newsletter section  ----------*/

.slider-btn {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  background-color: #fff;

  border-radius: 50px;
  width: 150px;
  height: 50px;
}

.slider-btn:hover {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: #000;

  border-radius: 50px;
  width: 150px;
  height: 50px;
}

.subscription-form {
  position: relative;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  padding-right: 160px;
  background-color: #ffffff;
  height: 50px;
  border-radius: 50px;
  padding-top: 12px;
  padding-left: 20px;
}
@media only screen and (max-width: 479px) {
  .subscription-form {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-right: 120px;
  }
}
.subscription-form input {
  width: 100%;
  border: none;
}
.subscription-form button {
  position: absolute;
  top: 3px;
  right: 3px;
  background: none;
  border: none;
  background-color: #80bb01;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 50px;
}
@media only screen and (max-width: 479px) {
  .subscription-form button {
    padding: 10px 20px;
  }
}
.subscription-form button:hover {
  background-color: #5d8801;
}
.subscription-form .mailchimp-alerts {
  position: absolute;
  top: 50px;
}

/*----------  social contact section  ----------*/
.social-contact-section {
  background-color: #000;
  color: #fff;
  padding: 15px;
}
.social-contact-section h2 {
  font-size: 31px;
  line-height: 42px;
  font-weight: 500;
  margin-bottom: 20px;
}

.social-links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  position: relative;
}
.social-links a:last-child {
  margin-right: 0;
}
.social-links a.facebook {
  background-color: #4867aa;
}
.social-links a.facebook:hover {
  background-color: #30436b;
}
.social-links a.twitter {
  background-color: #1da1f2;
}
.social-links a.twitter:hover {
  background-color: #4e98e6;
}
.social-links a.instagram {
  background-color: #b23a94;
}
.social-links a.instagram:hover {
  background-color: #882e71;
}
.social-links a.linkedin {
  background-color: #007bb6;
}
.social-links a.linkedin:hover {
  background-color: #0b577b;
}
.social-links a.rss {
  background-color: #f99c3a;
}
.social-links a.rss:hover {
  background-color: #e88720;
}
.social-links a:before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 12px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 400;
  background-color: #444444;
  color: #ffffff;
  line-height: 16px;
  padding: 5px 10px;
  border-radius: 2px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-links a:after {
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-bottom: 8px;
  margin-left: -4px;
  content: "";
  border-width: 4px 4px 0 4px;
  border-style: solid;
  border-color: #444444 transparent transparent transparent;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.social-links a:hover:before,
.social-links a:hover:after {
  visibility: visible;
  opacity: 1;
}

.single-contact {
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
}
@media only screen and (max-width: 767px) {
  .single-contact {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 479px) {
  .single-contact {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
.single-contact .icon {
  font-size: 40px;
  margin-right: 10px;
}
.single-contact p {
  color: #777777;
}
.single-contact p span {
  display: block;
}
.single-contact:first-child {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-contact:first-child {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-contact:first-child {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
  }
}
@media only screen and (max-width: 767px) {
  .single-contact:first-child {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 479px) {
  .single-contact:first-child {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

/*----------  footer navigation  ----------*/
.footer-navigation-section {
  text-transform: uppercase;
  position: relative;
}
.footer-navigation-section:before {
  position: absolute;

  background-color: #e0e0e0;
  content: "";
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .footer-navigation-section:before {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-navigation-section:before {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-navigation-section:before {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .footer-navigation-section:before {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 479px) {
  .footer-navigation-section:before {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
.footer-navigation-section:after {
  position: absolute;
  bottom: 0;
  left: 27%;
  width: 73%;
  height: 1px;
  background-color: #e0e0e0;
  content: "";
  margin-left: -13.5%;
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .footer-navigation-section:after {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-navigation-section:after {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-navigation-section:after {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .footer-navigation-section:after {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 479px) {
  .footer-navigation-section:after {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}

.single-navigation-section h3 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.single-navigation-section ul li {
  margin-bottom: 10px;
}
.single-navigation-section ul li:last-child {
  margin-bottom: 0;
}
.single-navigation-section ul li a {
  font-size: 12px;
  line-height: 18px;
  color: black;
}
.single-navigation-section ul li a:hover {
  color: #80bb01;
}

/*----------  copyright section  ----------*/
.copyright-section p {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .copyright-section .copyright-segment {
    margin-bottom: 15px;
  }
}

.copyright-section .copyright-segment p a {
  color: #222;
}
.copyright-section .copyright-segment p a:hover {
  color: #80bb01;
}

.copyright-section .copyright-segment p span.separator {
  padding: 0 10px;
  color: #222;
}

.copyright-section .copyright-segment p.copyright-text a {
  color: #777;
}
.copyright-section .copyright-segment p.copyright-text a:hover {
  color: #80bb01;
}

.features-boxed {
  color: #313437;
}

.features-boxed p {
  color: #7d8285;
}

.features-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .features-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.features-boxed .intro p {
  margin-bottom: 0;
}

.features-boxed .features {
  padding: 50px 0;
}

.features-boxed .item {
  text-align: center;
}

.features-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.features-boxed .item .icon {
  font-size: 60px;
  color: #1485ee;
  margin-top: 20px;
  margin-bottom: 35px;
}

.features-boxed .item .name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.align-items-start {
  align-items: center;
}

@media screen and (max-width: 540px) {
  .text-left {
    max-width: 100%;
  }
  .img-fluid {
    max-width: 100%;
  }
}

[role="button"],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.animsition-loading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

[data-loader="ball-scale"] {
  width: 50px;
  height: 50px;
  -webkit-animation: ball-scale infinite linear 0.75s;
  -moz-animation: ball-scale infinite linear 0.75s;
  -o-animation: ball-scale infinite linear 0.75s;
  animation: ball-scale infinite linear 0.75s;
  border-radius: 100%;
  background-color: green;
}

.hov-img-zoom {
  display: block;
  overflow: hidden;
}
.pos-relative {
  position: relative;
}
.m-b-30 {
  margin-bottom: 30px;
}
.hov-img-zoom img {
  width: 100%;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
.block1-wrapbtn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.m-text2 {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: green;
  text-transform: uppercase;
}
.flex-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.trans-0-4 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.catmain {
  margin-top: 80px;
  text-align: center;
  align-items: center;
}
.block1 {
  max-width: 400px;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

a,
button,
img,
input,
span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
